{% extends "base.html" %}

{% block title %}  Camalheia - Adicionar Fotografia  {% endblock %}

{% block intro %}
    <p id="p_titulo_01">Adicionar fotografia</p>  
{% endblock %}

{% block content %}
    <br>
    <div>
        <form action=" {{ url_for('cidades.adicionar_foto') }} " method="POST" enctype="multipart/form-data"> 
            <!--  Os dados enviados por POST nao sao visiveis no browser 
            action define para onde os dados sao enviados, action="" envia os dados para este mesmo ficheiro-->
            Fotografia<br>
            <input type="file" name="ffoto" class="class-inputs" required>
            <br><br>
            Cidade<br>
            <select name="fcidade" class="class-inputs" required> 
                <option value="" selected="selected" disabled>Escolha uma cidade</option>
                {% for cidade in cidades %}
                    <option value="{{ cidade.id_c }}">{{ cidade.nome_c }}</option>
                {% endfor %}
            </select>
            <br><br>
            Descrição<br>
            <textarea name="fdesc" class="class-inputs"></textarea>
            <br><br>
            <input type="submit" value="adicionar">

        </form>
        <br><br><br><br>
    </div>
{% endblock %}