{% extends "base.html" %}

{% block title %}  Camalheia - Eliminar cidade  {% endblock %}

{% block intro %}
    <p id="p_titulo_01">Eliminar cidade</p>  
{% endblock %}

{% block content %}
    <br>
    <div>
        {% for cidade in cidades %}
            <a href=" {{ url_for('cidades.del_cidade',cidade_id=cidade.id_c) }} " class="lista-link" onclick="return confirmaEliminar('{{cidade.nome_c}}','{{cidade.id_c}}')">
                {{ cidade.nome_c }}
            </a> 
        {% endfor %}
    </div>
{% endblock %}
