{% extends "base.html" %}

{% block title %}
    Cidades Flask
{% endblock %}


{% block intro %}
    <p id="p_01">
        Um homem precisa viajar. Por sua conta, não por meio de histórias, imagens, livros ou TV. Precisa viajar por si, com seus olhos e pés, para entender o que é seu. Para um dia plantar as suas próprias árvores e dar-lhes valor. Conhecer o frio para desfrutar o calor. E o oposto. Sentir a distância e o desabrigo para estar bem sob o próprio teto.
        Um homem precisa viajar para lugares que não conhece para quebrar essa arrogância que nos faz ver o mundo como o imaginamos, e não simplesmente como é ou pode ser. Que nos faz professores e doutores do que não vimos, quando deveríamos ser alunos, e simplesmente ir ver.
    </p>
    <p id="p_autor_01">Amyr Klink</p>
    <p id="p_titulo_01">Cidades aderentes:</p>   
{% endblock %}


{% block content %}
    <div class="cxFlex100">
        {% for cidade in lista_cidades %}
            <div class="cxinhaCidade">
                <a href="{{ url_for('cidades.detalhes', cidade_id=cidade.id_c) }}">
                    <p class="tituloCxinha">{{cidade.nome_c}} </p>
                    <p class="txtCxinha"> {{cidade.habitantes_c}} habitantes</p>
                    <p class="txtCxinha"> {{cidade.pais_c}}</p>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}